<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script defer src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen  bg-slate-200">
<header class=" bg-slate-700">
    <nav class="container mx-auto w-[80rem] text-white">
        <ul class="flex gap-4">
            <li >
                <a class="p-5 block hover:brightness-125 bg-slate-700" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li >
                <a class="p-5 block hover:brightness-125 bg-slate-700" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li >
                <a class="p-5 block hover:brightness-125 bg-slate-700" asp-area="" asp-controller="Blog" asp-action="GetNew">New Blog</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container mx-auto w-[80rem]">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>