@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="CreateBook">
    <label for="">
        Název knihy
        <input type="text" name="Title">
    </label>
    <label for="">
        Autor knihy
        <input type="text" name="Author">
    </label>
    <input type="submit">
</form>