@model NewBlogModel

@{
    ViewData["Title"] = "New Blog";
}

<div class="grid gap-4 mt-10">
    <h1 class="text-2xl">New blog page</h1>
    <form action="/Blog" method="post" class="bg-slate-100 w-fit p-3 rounded grid gap-3">
        <label for="form-title">
            <p class="mb-1">Title</p>
            <input class="bg-white" name="title" type="text" id="form-title">
        </label>
        <label for="form-desc"> 
            <p class="mb-1">Description</p>
            <input class="bg-white" name="description" type="text" id="form-desc">
        </label>
        <label for="form-content">
            <p class="mb-1">Content</p>
            <textarea class="bg-white" name="content" id="form-content" cols="30" rows="10"></textarea>
        </label>
        <button type="submit">Send</button>
    </form>
</div>